PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/ks_steel
MONGODB_DB=ks_steel
JWT_SECRET=ks_steel_superadmin_secret_key_change_in_production_2026
SUPERADMIN_EMAIL=superadmin@kssteel.com
SUPERADMIN_PASSWORD=SuperAdmin@123
FRONTEND_ORIGIN=http://localhost:5173
NODE_ENV=development
